.header {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: right;
  box-sizing: border-box;
  z-index: 2;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 183px 0 0;
  max-width: 729px;
  color: #000;
  padding: 0;
  display: block;
  font-size: 60px;
  letter-spacing: -0.6px;
  font-style: normal;
  z-index: 1;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
}

.header__description {
  font-size: 20px;
  max-width: 683px;
  line-height: 30px;
  margin: 28px 0 0 0;
  color: #000;
  font-family: "Noto Serif", "Times New Roman", serif;
  z-index: 1;
}

.header__image {
  position: absolute;
  max-width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  font-style: normal;
  font-weight: 500;
}

.header__paragraph {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
